
.margin-top-negative{
    margin-top: -50px !important;
}


.banner__info{
width: 80%;
top: 40px;
left: 40px;
}

@media (min-width: 576px) {  
 .banner__info{
    width: 500px;
    height: 60%;
    top: 40px;
    right: 40px;
    border-radius: 5px;
 }

}









