/* ------------overall styling------------ */
/* ------------overall styling------------ */
/* ------------overall styling------------ */
/* ------------overall styling------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  box-shadow: none;
}
a{
  color: inherit;
  text-decoration: none !important;
}
a:hover{
  color: inherit;
}
body > #root{
min-height: 100vh;
position: relative;
}
/* ------------Figma style copying ------------ */
/* ------------Figma style copying ------------ */
/* ------------Figma style copying ------------ */
/* ------------Figma style copying ------------ */
:root {
  /* btn color scheme */

  --btn-bg-primary: #2d3748;
  --btn-bg-success: #04c35c;

  /* text color */

  --text-primary: #1a202c;
  --text-primary-light-800: #2d3748;
  --text-primary-light-700: #4a5568;
  --text-secondary: #2c5282;
  --text-secondary-light-800: #2b6cb0;
  --text-white: #ffffff;

  /* text-family */
  --text-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* text-weight used  */
  --text-weight-regular: regular;
  --text-weight-bold: bold;

  /* background colors  */
  --bg-primary: #131921;
  --bg-primary-light: #232f3e;
  --bg-primary-light-700: #f2f2f2de;
  --bg-primary-light-800: #f0f0f063;
  --bg-secondary: ;
  --bg-secondary-light: ;
  --bg-grid-color: #91ff0010;
  --bg-white: #ffffff;
}
/* ------------creating custom classes ------------ */
/* ------------creating custom classes ------------ */
/* ------------creating custom classes ------------ */
/* ------------creating custom classes ------------ */


.border-right-primary-light {
  border-right:1px solid #1a202c1f !important ;
}
.border-bottom-none {
  border-bottom: none !important;
}
.border-primary-5 {
  border: 5px solid var(--bg-primary) !important;
}
.border-secondary-5 {
  border: 5px solid var(--bg-primary-light) !important;
}

.border-primary {
  border: 1px solid var(--text-primary) !important;
}
.border-primary-light {
  border: 1px solid var(--bg-primary-light) !important;
}
.border-right-primary {
  border-right: 1px solid var(--text-primary) !important;
}
.border-left-primary {
  border-left: 1px solid var(--text-primary) !important;
}
.border-top-primary {
  border-top: 1px solid var(--text-primary) !important;
}
.border-bottom-primary {
  border-bottom: 1px solid var(--text-primary) !important;
}
.bg-primary-light-700 {
  background-color: var(--bg-primary-light-700) !important;
}
.bg-primary-light-800 {
  background-color: var(--bg-primary-light-800) !important;
}
.bg-white {
  background-color: var(--bg-white) !important;
}
.bg-grid-color {
  background-color: var(--bg-grid-color) !important;
}
.bg-primary {
  background-color: var(--bg-primary) !important;
}
.bg-primary-light {
  background-color: var(--bg-primary-light) !important;
}
.bg-secondary {
  background-color: var(--bg-secondary) !important;
}
.bg-secondary-light {
  background-color: var(--bg-secondary-light) !important;
}
.btn-bg-primary {
  background-color: var(--btn-bg-primary) !important;
}
.btn-bg-success {
  background-color: var(--btn-bg-success) !important;
}
.text-primary {
  color: var(--text-primary) !important;
}
.text-primary-light-800 {
  color: var(--text-primary-light-800) !important;
}
.text-primary-light-700 {
  color: var(--text-primary-light-700) !important;
}
.text-secondary {
  color: var(--text-secondary) !important;
}
.text-secondary-light-800 {
  color: var(--text-secondary-light-800) !important;
}
.text-white {
  color: var(--text-white);
}
.text-family-primary {
  font-family: var(--text-family-primary) !important;
}
.text-weight-regular {
  font-weight: var(--text-weight-regular) !important;
}
.text-weight-bold {
  font-weight: var(--text-weight-bold) !important;
}
/* .heading-2 {
  font-size: 1.875rem !important;
  line-height: 40px;
}
.heading-3 {
  font-size: 1.3rem !important;
  
}
.body-1 {
  font-size: 1rem !important;
}
.body-2 {
  font-size: 0.875rem !important;
} */

/* media  */
@media (min-width: 992px) {
  .border-lg-none {
    border: none !important;
  }
}

/* media queries
 */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .w-sm-25 {
    max-width: 25% !important ;
  }
  .w-sm-50 {
    max-width: 50% !important ;
  }
  .w-sm-75 {
    max-width: 75% !important ;
  }
  .w--sm-100 {
    max-width: 100 !important ;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .w-md-25 {
        max-width: 25% !important ;
      }
      .w-md-50 {
        max-width: 50% !important ;
      }
      .w-md-75 {
        max-width: 75% !important ;
      }
      .w--md-100 {
        max-width: 100 !important ;
      }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .w-lg-25 {
        max-width: 25% !important ;
      }
      .w-lg-50 {
        max-width: 50% !important ;
      }
      .w-lg-75 {
        max-width: 75% !important ;
      }
      .w--lg-100 {
        max-width: 100 !important ;
      }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .w-xl-25 {
        max-width: 25% !important ;
      }
      .w-xl-50 {
        max-width: 50% !important ;
      }
      .w-xl-75 {
        max-width: 75% !important ;
      }
      .w--xl-100 {
        max-width: 100 !important ;
      }
}
